body, p, h1, ul, li, blockquote {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Vollkorn SC', Georgia, serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}



/* Estrutura Geral */

.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    /* esse minmax eh so para a primeira coluna, ou seja, do sidenav, aí vai de no minimo 160px a 
    no maximo 1fr esse 3fr eh do conteúdo*/
    grid-template-areas: 
        "header header header"
        "sidenav content anuncios"
        "footer footer footer"
    ;
}

@media (max-width: 1200px) {
    .estrutura {
        /* foi duplicado a terceira coluna pois seme ela, iria ocupar somente duas e ficar sobrando uma */
        grid-template-areas: 
            "header header header"
            "sidenav content content"
            "sidenav anuncios anuncios"
            "footer footer footer"
        ;
    }
}


@media (max-width: 760px) { 
    .estrutura {
        grid-template-columns: 100%;
        grid-template-areas: 
            "header"
            "sidenav"
            "content"
            "anuncios"
            "footer"
        ;
    }
}

/* header */
.header {
    grid-area: header;

    background: linear-gradient(135deg, #8844ee, #B07DFB);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    /* esse grid template colums eh para colocar o menu um ao lado do outro, no auto, ele fica do tamanho que 
    eh o conteúdo */
    align-items: center;
}

.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 1.125em;
    /* 1.125 em eh 18px dividido por 16px */
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0, 0, 0, .5); 
}

/* coloquei li + li, pois quero falar com o li que vem depois de um li, para não ficar a margin-right no primeiro li */
.header li + li {
    margin-left: 30px;
}

@media (max-width: 760px) {
    .header {
        grid-template-columns: auto;
    }
    .logo {
        margin-bottom: 20px;
    }
    .header nav a {
        font-size: 1em;
    }
    .header li + li {
        margin-left: 10px;
    }
}

/* SIDENAV */

.sidenav {
    grid-area: sidenav;

    background: #fafbfc;
    padding: 30px;
}

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: .1s ease-out;
    /* esse ease-out eh para sair mais suave do transition */
}

.sidenav li a:hover {
    background: #B07DFB;
}

@keyframes seta {
    from {
        right: 30px;
    }
    to {
        right: 20px;
    }
}

@media (max-width: 760px) {
    .sidenav {
        /* position relative para a seta do after ficar em relacao ao sidenav e nao ao body geral */
        position: relative;
        /* esse overflow-x auto eh para criar a barra para navegar pelo sidenav pelo mobile */
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        /* esse webkit eh para funcionar melhor com o touch no iphone e no safari. Já o MS eh para funcionar
        melhor no edge da microsoft */
    }

    .sidenav::after {
        content: "→";
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0,0,0,.3);
        /* essa animation eh do keyframes ali de cima, eh ease-in para começar rapido e ai ir devagar e 0s
        para começar rapido e infinite para sempre ficar ocorrendo e alternate para ir do 30 para o 20 e aí do
        20 para o 30 */
        animation: seta .5s ease-in 0s infinite alternate;
    }
    .sidenav ul {
        display: flex;
    }
    .sidenav li {
        /* não quero que ele diminua mais do que 60px */
        flex: 1 0 60px;
    }
    .sidenav {
        padding: 0 30px;
    }
    .sidenav li a {
        margin: 30px 30px 30px 0;
    }
}

/* CONTEUDO / CONTENT */
.content {
    grid-area: content;

    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/* esse col-wide eh para ocupar a linha inteira, as duas colunas no caso e o 1 / -1 eh para fazer isso */
.col-wide {
    grid-column: 1 / -1;
}

.imagem-1 {
    /* quero que esse item ocupe duas linhas, ou seja, dois itens do container */
    grid-row: span 2;
    align-self: end;
}

.imagem-2 {
    align-self: end;
}

/* estilos content */
p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

/* p mais p pq quero falar com o p que vem apos um p */
.informacoes p + p {
    margin-top: 30px;
}

.titulo {
    color: #B07DFB;
}

.titulo h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    /* 0.875 equivale a quase o 14px */
    font-size: 0.875em;
    font-style: italic;
}

/* caracteristicas */
.caracteristicas {
    display: flex;
    align-items: flex-start;
}

.caracteristicas span {
    display: block;
    color: #B07DFB;
}

.caracteristicas > div {
    /* esse maior eh para falar somente com a div direta das caracteristicas */
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    position: relative;
}

.caracteristicas > div:first-child {
    margin-right: 30px;
}

.numero {
    color: #B07DFB;
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.rotulo {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.destaque {
    font-size: 0.875em;
    color: #B07DFB;
    max-width: 16em;
}

.citacao, .atributos {
    align-self: start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.citacao p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
}

.atributos li {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
}

/* quero falar com o li que venha depois de um li */
.atributos li + li {
    border-top: 2px solid #b07dfb;
}

/* ANUNCIOS */
.anuncios {
    grid-area: anuncios;

    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    /* esse gap eh o que separa um item do outro, eh a distancia de um item para outro */
    gap: 30px;
}

/* FOOTER */
.footer {
    grid-area: footer;

    background: linear-gradient(135deg, #8844ee, #B07DFB);
    color: #fff;
    text-align: center;
    padding: 30px;
}

